## Getting started

- introduction
- jupyter notebooks
- variables
- datatypes
    - math
    - text
- using the internet

## How to use the notebooks

You don't have to become a notebook power-user, as it is not compatible with psychopy. But they are practical when you try to explore a new dataset, communicate your findings or show code related concepts to someone.
Notebooks can nicely integrate text ([markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)), code, plots and pictures.

You can use the course-notebooks to make your own notes. This way you will have all the content we touched during the course, plus your own thoughts and questions in one place.

- cell types
- new cells
- running a cell
- ? for docstrings
- hit h for hotkeys!
- tabcompletion and omnicompletion

## Variables

*Variables store values.* A variable is just a named container so we can find what we are looking for.
We can name our variables _anything we_ like, as long as the name does not start with a number, and does not contain special characters other than underscore.

In [11]:
# assign a value to a variable with "="
anything = 2

In [12]:
# now "anything" is referring to a place in the memory, holding the value 2
print(anything)

2

But it is not really practical to name your variables just anything. Try using names that reflect the purpose/content of the variable in the program, so later you (and others) can read your code and make sense of it. For example:

In [ ]:
greeting = "Hello Word!"
print(greeting)

Comments also help code-readability. You can make comments using the '#' symbol.  
Text after the '#' does not execute as python code, so you can use it at the beggining of lines and at the end of code lines.

**What is print( )?**

## Datatypes
Python is a loosely typed language, which means that we don't write the type explicitly when defining variables, and python have to guess them. This makes coding a bit faster, but we still need to pay attention to our datatypes.  
#### What can we store in variables?
Simple datatypes
- integers
- floats
- booleans  
- strings

Containers
- lists
- touples
- sets
- dictionaries

### Simple datatypes
##### There are two types for storing numbers. int integers and float for floating point numbers. We choose between them depending on the situation.

In [4]:
# integer
x = 2           # the value 2 is assigned to variable x
print(x)        # the value of the variable is accessible by using the variable name
print(type(x))  # we can check its type by calling the function 'type'

2
<class 'int'>

In [2]:
# floating point numbers
y = 1.234
print(y)
print(type(y))

1.234
<class 'float'>

In [10]:
# We can convert one type to the other (also called casting)
print(float(x))
print(int(y))

2.0
1

With this three types we can do a lot of math. Let's stop for a second, and try out the basic operations!  

- \+ addition
- \- subtraction
- / divison
- // floor division
- \* multiplication
- ^ exponentiation
- % modulo (remainder)

##### We also have a datatype for logical vaues called booleans, that can only take one of two values

In [26]:
# booleans (logical values)
a = True
b = False

##### Boolean algebra
Boolean operations
- && (and): only True if both values are True  
- || (or) : only False if both values are False  
- !  (not): reverses the value of boolean  

Operations that return booleans but can be applied to other types*
- == equal
- < less-than
- \> greater-than
- <= less-than-equal
- \>= greater-than-equal

\* _in some contexts_ 0, 0.0, '' (empty string), [] (empty list), {} (empty dictionary) can evaluate to False!

#### Let's practice what we saw so far!

In [8]:
# Define two variables, and add them. Store their sum in a third variable and print it!

In [ ]:
# Suppose you want to buy some avocados. Define an integer to store the number of avocados you want to buy.
# Then define a float to store the price of one avocado. Tse revealing variable names!
# Store the product in a third variable and print it!

In [33]:
# Take a look at the following expressions, and try to guess their value!
# (This is just a taste. we will practice boolean algebra more thoroughly when we get to conditionals and control flow)

# 3 < 71
# 2+2 == 5
# 4^2 != 16 or True
# False and True
# False or True and False
# not False and True

##### Text values also have their own datatype called strings, as they are strings of characters.

In [26]:
# strings
first_name = "Michael"  # they work with double quotes
last_name = 'Tomasello' # or with single quotes

# or with triplequotes for multiline strings
rhyme = """
Eeny, meeny, miny, moe,
Catch a tiger by the toe.
If he hollers, let it go,
Eeny, meeny, miny, moe."""

#### String methods and operations

In [35]:
# get the lengt of a string
len("megszentségteleníthetetlenségeskedéseitekért")

44

In [27]:
# concatenation (addition of strings)
full_name = first_name + ' ' + last_name
print(full_name)
print(type(full_name))

Michael Tomasello
<class 'str'>

In [57]:
last_name.lower()

'knuth'

In [19]:
first_name.upper()

'ERVIN'

In [15]:
last_name.count('l') # count the occurences of substrings

2

In [16]:
split = rhyme.split() # try it with arguments!
print(split)

['Eeny,', 'meeny,', 'miny,', 'moe,', 'Catch', 'a', 'tiger', 'by', 'the', 'toe.', 'If', 'he', 'hollers,', 'let', 'it', 'go,', 'Eeny,', 'meeny,', 'miny,', 'moe.']

In [17]:
joint = '\n'.join(split)
print(joint)

Eeny,
meeny,
miny,
moe,
Catch
a
tiger
by
the
toe.
If
he
hollers,
let
it
go,
Eeny,
meeny,
miny,
moe.

In [21]:
rhymo = rhyme.lower().replace('e', 'o')
print(rhymo)

oony, moony, miny, moo,
catch a tigor by tho too.
if ho hollors, lot it go,
oony, moony, miny, moo.

In [28]:
# test membership
'tiger' in rhyme

True

In [31]:
# find substring starting position
rhyme.find('toe')

46

In [30]:
# slicing
rhyme[25:46] # characters from the second to the 26th

'Catch a tiger by the '

#### What else is there?
first_name.+TAB

In [ ]:
first_name.

In [30]:
# formatting strings
n_coffee = 2
mg_caffeine = 95.5 * n_coffee
print("I need to drink %i espresso(s) to consume %f mg of caffeine!" % (n_coffee, mg_caffeine))

I need to drink 2 espresso(s) to consume 191.000000mg of caffeine!

##### How to display fewer decimals? Let's check on the internet!  
You don't have to know everything. Looking up information is not cheating.
- [stackowerflow](https://stackoverflow.com/questions/tagged/python-3.x)
- [python documentation](https://docs.python.org/3.7/contents.html)

## Next lesson
### Lists and the rest of the containers
- slicing
- looping

### Conditionals and control flow
- if, elif, else
- braking the loops

### Funcitons
- defining our own functions
- writing our first small programs

## Homework

1. If you have any questions to me during the week, write them down, or send me an email to venczeli.jozsef@gmail.com

2. Practice boolean algebra with the following examples, by writing down your guess about their value, then running them
    1. True and True
    2. False and True
    3. 1 == 1 and 2 == 1
    4. "test" == "test"
    5. 1 != 1.0
    6. 1 == '1'
    7. "myname" == "MyName"
    8. 'one' != 1
    9. 1 == 1 or 2 != 1
    10. True and 1 == 1
    11. False and 0 != 0
    12. True or 1 == 1
    13. 1 != 0 and 2 == 1
    14. not (True and False)
    15. not (not 'x' == 'x')
    16. not (1 != 10 or 3 == 4)
    17. 1 == 1 and not ("one" == 1 or 1 == 0)
    18. "egg" == "bacon" and not (3 == 4 or 3 == 3)